[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
psycopg2 = "*"
djangorestframework = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
psycopg2-binary = "*"
python-decouple = "*"
requests = "*"
numpy = "*"
python-dateutil = "*"
pytest = "*"
pytest-cov = "*"
pytz = "*"
joblib = "*"
scikit-learn = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.13"
